<FlexboxLayout class="page">
  <StackLayout class="form">
    <Image src="https://www.carnegietechnologies.com/sites/ct/assets/image/logo-octopus.png" loadMode="async" stretch="aspectFit"></Image>

    <StackLayout class="input-field">
      <TextField hint="email" class="input" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
    </StackLayout>
  
    <StackLayout class="input-field">
      <TextField hint="Password" secure="true"  class="input"></TextField>
    </StackLayout>
  
    <Button text="Log In" (tap)="openTestePage()" class="btn btn-primary"></Button>
    
  </StackLayout>
</FlexboxLayout>
